<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obesity Level Estimator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
</head>

<body class="bg-gray-100 text-gray-800">

    <!-- Header -->
    <header class="bg-[--main-green] text-white p-6 text-center shadow-sm">
        <h1 class="text-4xl font-bold">Obesity Level Estimator</h1>
        <p class="mt-2 text-lg">Estimate your obesity level based on your eating habits and physical condition.</p>
    </header>

    <!-- Introduction Section -->
    <section class="container mx-auto mt-8 p-6 bg-white bg-opacity-15 shadow-sm rounded-lg">
        <h2 class="text-2xl font-semibold text-[--main-green]">Obesity: A Growing Global Health Challenge</h2>

        <p class="text-base text-slate-900">Obesity has become a <strong>critical health issue</strong>
            worldwide, linked to chronic diseases such as <em>diabetes, heart disease, and certain cancers</em>. With
            obesity rates rising in nearly every country, it's essential to understand the factors driving this trend.
        </p>

        <p class="text-base text-slate-900">The chart below from my analysis, based on <strong>World Health Organization
                (2024)</strong> data processed by <em>My World in Data</em>, highlights this alarming global trend. But
            it raises an important question:</p>

        <div class="my-4">
            <iframe src="./static/interactive_plot.html" width="100%" height="600px"></iframe>
        </div>


    </section>

    <!-- facts section -->
    <section class="container mx-auto mt-8 p-6 bg-white bg-opacity-15 shadow-sm rounded-lg">
        <h2 class="text-2xl font-semibold text-[--main-green]">What's Behind This Increase?</h2>
        <!-- Fun facts -->
        <h2 class="ml-4 text-xl font-semibold text-[--main-orange]">Fun Facts about Obesity</h2>
        <ul class="ml-8 list-disc list-inside space-y-3 text-gray-950">
            <li>Over <strong class="text-[--main-green]">390 million children and adolescents</strong> aged 5–19 were
                overweight in 2022, including <strong class="text-[--main-orange]">160 million</strong> living with
                obesity.</li>
            <li><strong class="text-[--main-green]">1 in 8 people</strong> globally were living with obesity in 2022.
            </li>
            <li>In 2022, <strong class="text-[--main-orange]">37 million children under 5</strong> were overweight.</li>
            <li><strong class="text-[--main-green]">43% of adults</strong> aged 18 and over were overweight, and <strong
                    class="text-[--main-orange]">16%</strong> were living with obesity in 2022.</li>
            <li><strong class="text-[--main-green]">Adult obesity</strong> has more than doubled since 1990, while
                adolescent obesity has <strong class="text-[--main-orange]">quadrupled</strong>.</li>
            <li>In 2022, <strong class="text-[--main-green]">2.5 billion adults</strong> were overweight, with <strong
                    class="text-[--main-orange]">890 million</strong> living with obesity.</li>
        </ul>

        <p class="ml-4 text-base text-slate-900">
            My analysis explores the daily habits and lifestyle choices contributing to obesity.
            <a href="https://www.kaggle.com/code/isaacadio/obesity-analysis" class="text-[--main-orange] underline">
                <strong>Check out the full EDA here!</strong>
            </a>
        </p>

        <h2 class="ml-4 text-xl font-semibold text-[--main-green] mt-8">Test the AI Model: Find Out Your Obesity
            Risk</h2>
        <p class="ml-8 text-base text-slate-800">Want to know where you stand? Based on your daily habits, My AI
            model can help determine your obesity risk level and provide personalized recommendations. Simply fill out
            the form below:</p>
    </section>

    <!-- Form Section -->
    <section id="formSection" class="container max-w-xl mx-auto mt-8 p-6 bg-white shadow-md rounded-lg">

        <h2 class="text-2xl font-semibold text-[--main-green] mb-4">Take the Survey</h2>
        <p class="text-base font-bold mb-2 text-[--orange-light]"><em>Note: None of your input is saved for further use.
                Your privacy
                is important to us.</em></p>

        <form id="obesityForm" class="grid grid-cols-1 gap-4">
            <!-- Gender -->
            <label for="gender" class="text-gray-600">What is your gender?</label>
            <select name="gender" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <!-- Age -->
            <label for="age" class="text-gray-600">What is your age?</label>
            <input type="number" min="1" max="200" name="age" class="p-2 border border-[--main-green] rounded-md"
                required>

            <!-- Height -->
            <label for="height" class="text-gray-600">What is your height? (in centimeters)</label>
            <input type="number" min="50" max="250" step="1" name="height"
                class="p-2 border border-[--main-green] rounded-md" required>

            <!-- Weight -->
            <label for="weight" class="text-gray-600">What is your weight? (in kilograms)</label>
            <input type="number" name="weight" class="p-2 border border-[--main-green] rounded-md" required>

            <!-- Family History of Overweight -->
            <label for="familyHistory" class="text-gray-600">Has a family member suffered from overweight?</label>
            <select name="familyHistory" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <!-- High Caloric Food -->
            <label for="caloricFood" class="text-gray-600">Do you eat high caloric food frequently?</label>
            <select name="caloricFood" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <!-- Vegetable Consumption -->
            <label for="vegetableConsumption">Do you usually eat vegetables in your meals?</label>
            <select name="vegetableConsumption" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="never">Never</option>
                <option value="sometime">Sometimes</option>
                <option value="always">Always</option>
            </select>

            <!-- Number of Main Meals -->
            <label for="mainMeals">How many main meals do you have daily?</label>
            <select name="mainMeals" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="<3">Between 1 and 2</option>
                <option value="=3">Three</option>
                <option value=">3">More than three</option>
            </select>

            <!-- Food Between Meals -->
            <label for="betweenMeals">Do you eat any food between meals?</label>
            <select name="betweenMeals" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="no">No</option>
                <option value="Sometimes">Sometimes</option>
                <option value="Frequently">Frequently</option>
                <option value="Always">Always</option>
            </select>

            <!-- Smoking -->
            <label for="smoke">Do you smoke?</label>
            <select name="smoke" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <!-- Water Consumption -->
            <label for="water">How much water do you drink daily?</label>
            <select name="water" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="<1 liter">Less than a liter</option>
                <option value="1-2 liters">Between 1 and 2 liters</option>
                <option value=">2 liters">More than 2 liters</option>
            </select>

            <!-- Calorie Monitoring -->
            <label for="calorieMonitor">Do you monitor the calories you eat daily?</label>
            <select name="calorieMonitor" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <!-- Physical Activity -->
            <label for="physicalActivity">How often do you have physical activity?</label>
            <select name="physicalActivity" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="I don't">I do not have</option>
                <option value="1-2 Days">1 or 2 days</option>
                <option value="2-4 Days">2 to 4 days</option>
                <option value="4-5 Days">4 or 5 days</option>
            </select>

            <!-- Technology Usage -->
            <label for="techUsage">How much time do you use technological devices such as cell phone, videogames,
                television, computer, and others?</label>
            <select name="techUsage" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="0-2 hours">0-2 hours</option>
                <option value="3-5 hours">3-5 hours</option>
                <option value=">5 hours">More than 5 hours</option>
            </select>

            <!-- Alcohol Consumption -->
            <label for="alcohol">How often do you drink alcohol?</label>
            <select name="alcohol" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="no">I do not drink</option>
                <option value="Sometimes">Sometimes</option>
                <option value="Frequently">Frequently</option>
                <option value="Always">Always</option>
            </select>

            <!-- Transportation Mode -->
            <label for="transportation">Which transportation do you usually use?</label>
            <select name="transportation" class="p-2 border border-[--main-green] rounded-md" required>
                <option value="Automobile">Automobile</option>
                <option value="Motorbike">Motorbike</option>
                <option value="Bike">Bike</option>
                <option value="Public_Transportation">Public Transportation</option>
                <option value="Walking">Walking</option>
            </select>


            <!-- Submit Button -->
            <button type="submit" class="btn-primary p-3 rounded-md mt-4">Submit</button>
        </form>
    </section>

    <!-- Results Section -->
    <section id="results" class="container mx-auto mt-8 p-6 bg-white shadow-lg rounded-lg hidden">
        <h2 class="text-3xl font-bold text-[--main-green] text-center mb-3">Your Obesity Level</h2>
        <p class="text-2xl font-semibold text-gray-800">
            You fall into the category of: <span id="obesityCategory" class="text-[--main-orange]"> </span>
        </p>
        <p class="mt-4 font-bold text-gray-800 leading-relaxed">
            Medical advice: <em id="medicalAdvice" class="text-slate-400"></em>
        </p>
        <p>
            <span id="reference" class="mt-6 text-sm">
                Learn more at
            </span>
            <a id="reference_link" href="https://www.google.com" target="_blank"
                class="inline text-[--main-orange] underline">
                https://www.google.com </a>
        </p>

        <br>
        <p class="container text-base text-slate-800 text-center mt-3">If you found this helpful, feel free to <a
                href="https://linkedin.com/in/isaac-adio" class="text-[--main-orange]"><em>check out the LinkedIn
                    post</em></a>, and don't forget to like, repost, or share your thoughts in the comments!</p>

    </section>



    <!-- Footer -->
    <footer class="bg-[--main-green] text-white p-4 text-center mt-6 shadow-md">
        <p>© 2024 Obesity Level Estimator | Built with a passion for health and data science</p>
    </footer>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>